<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolyX</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Extend.css') }}">
    <link rel="icon" type="image/png" href="/static/PolyX_Logo.png">

</head>
<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %}
    <header>
      Polymer Extension
    </header>
    <!-- Help icon -->
    <div id="help-icon">?</div>
    <!-- Full-screen overlay with PNG image -->
    <div id="overlay" class="overlay">
        <!-- Close button to hide the overlay -->
        <div class="close-btn" id="close-btn">&times;</div>
    </div>

    <div id="content-container">
      <div id="plot-container"></div>

      <div id="button-container">
        <div style="display: flex; gap: 1rem; justify-content: center;">
          <div>
            <button id="file-button-itp" class="action-button" onclick="click_itp()">
              Load .itp<span id="upload-status-itp"></span>
            </button>
            <input type="file" id="itp_input" style="display: none;" accept=".itp" onchange="loadITP()">
          </div>

          <div>
            <button id="file-button-gro" class="action-button" onclick="click_gro()">
              Load .gro<span id="upload-status-gro"></span>
            </button>
            <input type="file" id="gro_input" style="display: none;" accept=".gro" onchange="loadGRO()">
          </div>
        </div>


        <select class="dropdown"></select>
        <div style="margin: 1rem auto; width: 70%; max-width: 600px; display: flex; flex-direction: column; gap: 1rem;">

        <div class="input-group">
          <label for="dihedral1">Bridge (Start to Middle):</label>
          <input id="dihedral1" type="text" maxlength="50" class="dihedral" placeholder="𛲖    𛲖">
        </div>

        <div class="input-group">
          <label for="dihedral2">Bridge (Middle to End):</label>
          <input id="dihedral2" type="text" maxlength="50" class="dihedral" placeholder="𛲖    𛲖">
        </div>

        <div class="input-group">
          <label for="propagation">Starting & Ending H:</label>
          <input id="propagation" type="text" maxlength="100" class="propagation" placeholder="𛲖    𛲖">
        </div>

        <div class="input-group">
          <label for="Mon_num">Number of Middle Units:</label>
          <input id="Mon_num" type="text" maxlength="4" class="monomers" placeholder="𛲖">
        </div>

        <button id="extend-button" class="action-button" style="margin-top: 1rem;" onclick="clickExtend()">Extend!</button>
      </div>
    </div>


    <script src="{{ url_for('static', filename='js/Extend.js') }}"></script>
</body>
</html>
